@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(152, 237, 237);
    margin: 0px 10px 10px 10px;
    font-size: 1em;
 

    
}

h1 {
    text-align: center;
    border: 1px solid green ;
    background-color: rgb(77, 226, 77);
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(49, 144, 49);
    margin: 0px;
  
    
}

h2 {
    text-align: center;
    border: 1px solid green ;
    background-color: rgb(77, 226, 77);
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(49, 144, 49);
   
    
}

p {
    text-align: justify;
}